.container{
    width: 100%;
    padding: 2px;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #3d4761;
}
.container__menuIcon{
    flex-direction: row-reverse;
}
.userSetting__Icon{
    font-size: 16px;
    color:lightgray;
    margin-right: 1rem;
    padding:  0.3em 0.6em;
    border: 1px solid #3d4761;
}
