.chatbox__messages {
    flex-grow: 1;
    padding: 1rem 1rem 0 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scroll-behavior: auto;
} 
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color:rgb(238, 123, 123);
    font-size: 0.7em;
    margin-top:0.5rem;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 0.7px solid rgb(238, 123, 123);
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}