.message__content{
    background-color: #0a80ff;;
    color:#fff;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    max-width: 300px;
    overflow:auto;
    display: inline-flex;
}
.message__box{
    margin-bottom: 3rem;
}
   