.chatbox__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
} 
.chatBoxMain_currentGroup{
    padding: 20px;
    color:#1a1c20;
}  