.container{
    width: 90%;
    padding: 2px;
    align-items: center;
}
.container__menuIcon{
    flex-direction: row-reverse;
}
.userSetting__Icon{
    font-size: 24px;
    color:lightgray;
    margin:0px 7px;
}